.nav {
  background-color: #3b17dcae;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

ul li button {
  background-color: rgb(189, 189, 189);
  color: black;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
}

.main {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

input {
  width: 20%;
  padding: 5px 10px;
}

.div_2 {
  margin-top: 10px;
}
#output {
  margin-top: 10px;
}
